datasets/IAM/*
datasets/IAM_cleaned/*
datasets/washington_cleaned/
datasets/washingtondb-v1.0/
synthetic_datasets
model/WordStylist_model/*
model/OurModel_model/*
index2letter.json
letter2index.json
slurm*
writers_dict_train.json
job_scripts/
__pycache__
__MACOSX